@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poiret+One&family=Roboto+Mono:wght@100;200;300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poiret+One&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  text-decoration: none;
  
}

/* fonts */
.roboto-mono {
  font-family: "Roboto Mono", monospace;
}

.sans-serif {
  font-family: "Roboto", sans-serif;
}

.ibm {
  font-family: "IBM Plex Sans", sans-serif;
}

.poiret {
  font-family: "Poiret One", cursive;
}
.almarai {
  font-family: "Almarai", sans-serif;
}

/* fonts */

.font-size {
  font-weight: 200;
  font-size: large;
}
/* colors */
.purple {
  color: #61088a;
}
/* colors */
body {
  /* background-color: #F8F7F1; */
  margin: 0;
  padding: 0;
}

.navbar {
  color: black;
  display: flex;
  flex-direction: column;
}

#navigation {
  width: 750px;
  margin: 0 auto;
  list-style: none;
}
#navigation li {
  float: left;
}
#navigation a {
  display: block;
  text-align: center;
  width: 120px; /* fixed width */
  text-decoration: none;
  font-size: 15px;
  padding: -10px;
  color: black;
}

.logo {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-bottom: 10px;
}

.goleft {
  padding-left: 30px;
}

.section2 {
  display: flex;
  padding-left: 130px;
  padding-bottom: 6rem;
}
.intro {
  color: #61088a;
  font-size: 40px;
  font-family: Roboto Mono;
  font-weight: 500;
  line-height: 57.65px;
}

.intro-about {
  font-size: 17px;
  padding-top: 40px;
}

.second-intro {
  padding-top: 10.25rem;
  padding-left: 10.25rem;
}

.imagee {
  padding-top: 5.25rem;
}
.right-intro {
  padding-right: 9.75rem;
  padding-top: 5rem;
  font-size: 17px;
}

.right-second {
  padding-top: 12.25rem;
  padding-left: 10rem;
  font-weight: 40px;
}

.section3 {
  background-color: white;
}

.about {
  color: #61088a;
  font-size: 48px;
  font-family: Roboto Mono;
  font-weight: 600;
  line-height: 79.49px;
  padding-left: 12rem;
  padding-top: 20px;
}

.project {
  flex-direction: column;
}
.projects {
  padding-left: 15rem;
  padding-top: 2rem;
  border-left: #61088a;
  flex-direction: column;
}
.projects-detail {
  margin: 20px 0;
}

.twenty {
  font-size: 30px;
  /* padding-right:3rem; */
}

/* .verticalLine {
    height: 300px;
    border-right: 1px solid #000900;
    position: absolute;
    right: 50%;
} */

.line {
  width: 2px;
  height: 450px;
  /* transform: rotate(90deg);
    position: relative; */
  top: 198px;
  left: -100px;
  background: #61088a;
  margin-left: 30px;
}

.aboutme-detail {
  color: #61088a;
  font-weight: 600;
  margin-left: 40px;
  margin-top: 24px;
}
.aboutme-detail1 {
  color: black;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
  margin-left: 40px;
}

/* .box {

    display: flex;
    gap: 10px;
  }
 
  */
/* skill list style*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 10px 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.grid-container > div {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.icon {
  margin-right: 10px; /* Add spacing between the icon and text */
}

li {
  letter-spacing: 1px;
  justify-content: center;
}
/* Add any other styling as needed */

.about-button {
  height: 40px;
  width: 125px;
  margin: 20px;
}

/* .qualification_rounder {
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    width: 13px;
    background-color: red;
 } */

/*  */

.section4 {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

/* Add this CSS for the child elements to style them as needed */
.text-center {
  text-align: center;
}




  /* .right-container span {
    left: 54px;
  }

  .timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
  }
  @keyframes moveline {
    0% {
        height: 0;

    }
    100%{
        height: 100%;
    }
  } */ 

.timeline2::before {
content: "";
position: absolute;
top: 24px;
left: calc(33% + 15px);
bottom: 0px;
width: 1px;
background: #61088a;

}


.timeline2 {
    width: 100%;
    /* max-width: 800px; */
    padding: 62px 50px;
    position: relative;
    
}
.timeline2::after {
    content: '';
    position: absolute;
    width: 6px;
    /* background-color: white; */
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

.entry {
    clear: both;
    text-align: left;
    position: relative;
}

.entry .title {
    margin-bottom: 0.5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.entry .body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.entry .title:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    background: #61088a;
    border: 3px solid white;
    border-radius: 50%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.entry2 .title:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #61088a;
    border: 3px solid white;
    border-radius: 50%;
    top: 15%;
    right: -8px;
    z-index: 99;
}

.line2 {
  width: 1px;
  height: 118px;
  /* transform: rotate(90deg);
    position: relative; */
  top: 108px;
  left: -100px;
  background: #6C63FF;
  margin-left: 30px;
}

.button1 {
  background-color: #61088a;
  border: 2px ;
  border-radius: 50%;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.button2 {
  background-color: #6C63FF;
  border: 2px ;
  border-radius: 50%;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}


.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(10px);
}

.overlay p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.button {
  background-color: #61088A;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
